<mat-toolbar color="primary" dir="rtl">
    <div class="wrapper-toolbar">
        <div class="drawer-container">
            <!-- <span>صفحه اصلی &nbsp;</span>
            <span>محصولات &nbsp;</span>
            <span>تماس با ما &nbsp;</span>
            <span>درباره ما &nbsp;</span> -->
            <form class="">
                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div class="welcome_toolbar">
            fdf
        </div>
    </div>
</mat-toolbar>
<!-- <mat-drawer-container dir="rtl" class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <div class="wrapper-content-menu">
            <mat-icon class="menu-items">home</mat-icon>
        </div>
    </mat-drawer>
</mat-drawer-container> -->
<!-- <mat-toolbar color="primary" dir="rtl">
    <div class="wrapper-footer"></div>
</mat-toolbar> -->