<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Reset Passwrod</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPassForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetPassForm.controls['password'].dirty && 
                                resetPassForm.hasError('required', 'password')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="password" type="text" placeholder="password">
                                </div>
                            </div>
                            <small class="text-danger"
                                *ngIf="resetPassForm.controls['password'].dirty && 
                                resetPassForm.hasError('required', 'password')">*Password
                                is required</small>
                                
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetPassForm.controls['confirmPassword'].dirty && 
                                resetPassForm.hasError('required', 'confirmPassword')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="confirmPassword" type="text" placeholder="confirmPassword">
                                </div>
                            </div>
                            <!-- <small class="text-danger" *ngIf="resetPassForm.controls['confirmPassword'].dirty && 
                            resetPassForm.hasError('required', 'confirmPassword')">*ConfirmPassword is required</small> -->

                            <small class="text-danger"
                                *ngIf="resetPassForm.hasError('ConfirmPasswordValidator', 'confirmPassword')">
                                *Password doesn't match
                            </small>

                            <button (click)="resetPassword()"
                                class="btn btn-primary btn-block mt-4 w-100">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>